# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
env/

# Conda
.env

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/
*.log

# Data
data/vector_store/

# Python cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db